@{
    ViewBag.Title = "Products";
}

<div class="jumbotron">
    @Html.ActionLink("Learn More About Us", "About")
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Our General Store, located in rural Indiana, is host to a multitiude of fine food and items of distinction.<br />
            Come browse our products and see what we have for you.
        </p>
        @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>